@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.app-wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app {
  display: grid;
  place-items: center;
  font-family: 'VT323', monospace;
}

.button-group {
  display: flex;
}

h1 {
  font-size: 3rem;
}

p {
  margin: 0 auto;
  font-size: 2rem;
}